{
  "projects": {
    "default": "your-firebase-project-id"
  },
  "targets": {
    "your-firebase-project-id": {
      "hosting": {
        "markdown2pdf": [
          "your-hosting-site-id"
        ]
      }
    }
  }
}
